RPC_URL_PRIMARY=https://mainnet.base.org
RPC_URL_FALLBACK_1=https://base.llamarpc.com
RPC_URL_FALLBACK_2=https://rpc.ankr.com/base
RPC_URL_FALLBACK_3=https://base-rpc.publicnode.com

EXECUTOR_PRIVATE_KEY=
EXECUTOR_BATCH_SIZE=20
EXECUTOR_POLL_INTERVAL_MS=5000
EXECUTOR_MIN_ROUND_BUFFER_MS=20000

LOOT_ADDRESS=0x00E701Eff4f9Dc647f1510f835C5d1ee7E41D28f
TREASURY_ADDRESS=0x89885D1E97e211B6DeC8436F7E3456b06EB24c68
GRID_MINING_ADDRESS=0xA8E2F506aDcbBF18733A9F0f32e3D70b1A34d723
AUTO_MINER_ADDRESS=0x4b99Ebe4F9220Bd5206199b10dFC039a6a73eDBC
STAKING_ADDRESS=0x554CEAe7b091b21DdAeFe65cF79651132Ee84Ed7
